<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bashkir.a22bytenews">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.NewsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/news_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/news_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.22ByteNews"
        tools:targetApi="31">
        <activity
            android:name=".base.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.22ByteNews">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>